.image-to-show {
    width: 400px;
    height: 400px;
  }

  .images-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #images-wrapper img{
    display: none;
  }
  #images-wrapper img:first-child{
    display: block;
  }
